({
    "image.player_sprite": File (
        path: "images/player.png",
    ),
    "image.engine_exhaust": File (
        path: "images/engine_exhaust.png",
    ),
    "image.projectile_sprite": File (
        path: "images/projectile.png",
    ),
    "image.basic_asteroid": File (
        path: "images/basic_asteroid.png",
    ),
    "image.small_basic_asteroid": File (
        path: "images/small_basic_asteroid.png",
    ),
    "image.advanced_asteroid": File (
        path: "images/advanced_asteroid.png",
    ),
    "image.small_advanced_asteroid": File (
        path: "images/small_advanced_asteroid.png",
    ),
    "image.health_pickup": File (
        path: "images/health_pickup.png",
    ),
})
